# Dépendances
node_modules/

# Fichiers de build
/frontend/dist
/backend/dist
/backend/sql.sql

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/

# Autres
*.tmp
*.bak
